body {
    background-color: black;
    color: white;

}

.container {
    background-color: dodgerblue;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 50vw;
   margin-left: 15rem;
   margin-right: 15rem;
   padding: 3rem ;
   border-radius: 2rem;  
}
.table-content {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80px;;
    border: 2px solid #ddd;
    padding: 0.5rem;
    margin-top: 2rem ;
    margin-left: 20%;
    overflow: auto;
    color: black;
    background-color: #00FFFF ;
    
}

#click-btn {
    width: 15%;
    position: static;
    margin-left: 43%
}
 


.no-of-notes {
    border-collapse: collapse;
    border: 2px solid #ddd;
    background-color: white;

}


