body {
    background-color: black;
    color: white;

}

.container {
    background-color: dodgerblue;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 50vw;
   margin-left: 15rem;
   margin-right: 15rem;
   padding: 3rem ;
   border-radius: 2rem;  
}
.table-content {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: fit-content;
    border: 2px solid #ddd;
    padding: 0.5rem;
}


